

:root{

    
   --main-white--: hsl(258, 44%, 93%);
    --white-blple--: hsl(221, 32%, 77%);


      /* [PL3]MOON PHASE */
    --moon-phases-a: hsl(204, 19%, 15%);
    --moon-phases-b: hsl(210, 19%, 22%);
    --moon-phases-c: hsl(197, 65%, 24%);
    --moon-phases-d: hsl(192, 11%, 52%);
    --moon-phases-e: hsl(120, 13%, 85%);
    
    /* DARK MODE PALLETE */
    --metal-dark1: hsl(0, 2%, 14%);
    --metal-dark2: hsl(0, 1%, 25%);
    --metal-dark3: hsl(0, 0%, 13%);
    --metal-dark4: hsl(240, 2%, 53%);
    --metal-dark5: hsl(0, 0%, 7%);

    /* GRAYS */
    --gray_1--: hsl(0, 0%, 50%);
    --color-jk-dark: hsl(204, 19%, 15%);
    --color-jk-dgray: hsl(210, 100%, 99%);


    /* DARK */
    --dark-variant: hsl(220, 7%, 19%);
    --dark-variantb: hsl(0, 0%, 21%);
    --color-dark-blue: hsl(210, 29%, 15%);

    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);
    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;
    --fns-deafult-up-11-08:11.08rem;

}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Monument Text";
  src: url("./assets/Fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/Fonts/BebasNeue-Regular.ttf");
}

*{

  font-family: "Poppins";
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

body{
  margin: 0;
  padding: 0;

}

a{
  cursor: pointer;
  text-decoration: none;
}

p{
  text-align: center;
  font-size: clamp(1rem, 8vw, 1rem); 
}
svg{
  fill: var(--metal-dark4);
  width: 1.1rem;
  height: 1.1rem;
}

svg:hover {
        transition: 0.5s ease;
        fill: var(--main-white--);
}   
   


span{
  text-align: center;
    font-size: clamp(5rem, 8vw, 9rem); 
}

body::-webkit-scrollbar{
  background-color: var(--metal-dark5);
}

body::-webkit-scrollbar-thumb{
  background-color: var(--metal-dark2);
  border-left: 2px solid var(--metal-dark5);
  border-right: 2px solid var(--metal-dark5);
}

.wrapper{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh 100vh;
  overflow-x: hidden;
}

.sections{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--metal-dark5);
}

.hero{

  display: grid;
  grid-template-rows: 0.5fr 9.5fr;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  background-color: var(--metal-dark5);
  
}

    .box{
        border-radius: 8px;
    }

    
    .main_wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
        grid-area: 2/ 2 /2 / 3;
        height: 80%;
        overflow: hidden;
        box-shadow: 10px 10px 10px 1px var(--shad-dark);
    }   



      .hero_grid{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
      }
      .hero_grid.browser_header{
        height: 20%;
        padding: 1rem 0rem;
        border-radius: 0px 0px 2px 2px;
        background:linear-gradient(to left,var(--metal-dark2),var(--metal-dark4),var(--metal-dark2));
        box-shadow: 0px 10px 50px inset hsla(220, 13%, 95%, 0.5);
      }

    
      .hero_grid.hook_frame{     
          transition: background-color 1s ease; 
          width: 100%;
          height: 30%;
          height: 25%;
          padding: 1rem 0rem;
        }


        .text_content_main_frame{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 95%;
          height: 90%; 
      
        }

       /* TEXT FRAME */
      .hero_grid.text_frame{
          display: grid;
          grid-template-columns:1fr ;
          grid-template-rows: 3fr 4fr 3fr ;
          grid-area: 2 / 1 / 2 /3;
          border-radius: 8px;
          height: 60%;
          width: 100%;     
      } 
      
    
          .bento_text{
            display: flex;
            align-items: center;
            justify-content: start;
            height: 100%;
            width: 100%;       
          }     
          
              .bento_text.hook #hook_text {
                  font-family: "Monument Text";
                  color: transparent; 
                  background: linear-gradient(to top, var(--white-blple--),var(--white-blple--), whitesmoke,white);
                  -webkit-background-clip: text; 
                  background-clip: text; /* Standard property */
                  
                  text-shadow: 0px -3px 10px rgba(255, 255, 255, 0.5);
                  cursor: pointer;
                  width: 100%;
                  text-align: start;
                  font-size: clamp(5rem, 8vw, 11rem); 
                  transition: background-color 1s ease; 
              }
              
            .bento_text.role {         
              align-items: start;
              justify-content: start;
              flex-direction: column;
              font-size: var(--fns-default-up1-6);          
             
          } 

            .bento_text.role #role_text{
              font-family: "Monument Text";
              font-size: var(--fns-default-up1-6);
            } 
            
             .bento_text.role p{
                font-family: "Poppins";
                color: whitesmoke;
                font-size: var(--fns-down-1);
            } 

            .bento_text.role #selling_prop_text_1{
              margin-top: 0.5rem;
            }


            .bento_text.hero_contact{
              height: 100%;           
            }   
 
                .hero_contact ul{
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  width: 50%;                
                  height: 100%;
                
                } 

                  .links#more{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 5rem;
                    width: 30%;
                    padding: 0.3rem 0rem;
                    overflow: hidden;
                    border-radius: 8px;
                    background-color:var(--metal-dark5);
                    border: 2px solid var(--metal-dark2);
                  } 
                      .links p{
                          font-size: var(--fns-down-1);
                      }
                      .links svg{
                        margin: 0.2rem;
                      } 

                .hc_contact.hc_location{
                  align-items: end;
                  justify-content: end;
                  flex-direction: column;
                } 
                
                  .hc_location p{
                    color: var(--metal-dark4);
                    font-size: var(--fns-down-1);
                  }



                  




                  
              


