@import "tailwindcss";
@tailwind utilities;

:root{

    --main-white: hsl(258, 44%, 93%);
    --white-blple: hsl(221, 32%, 77%);
    --purpluish: hsl(225, 25%, 65%);
    --bluis: hsl(220, 74%, 62%);
    --mainblue: hsl(225, 46%, 44%);
    --gainsbro: hsl(0, 0%, 96%);
    --blue-white: hsl(195, 44%, 86%);


      /* [PL3]MOON PHASE */
    --moon-phases-a: hsl(204, 19%, 15%);
    --moon-phases-b: hsl(210, 19%, 22%);
    --moon-phases-c: hsl(197, 65%, 24%);
    --moon-phases-d: hsl(192, 11%, 52%);
    --moon-phases-e: hsl(120, 13%, 85%);
    
    /* DARK MODE PALLETE */
    --metal-dark1: hsl(0, 2%, 14%);
    --metal-dark2: hsl(0, 1%, 25%);
    --metal-dark3: hsl(0, 0%, 13%);
    --metal-dark4: hsl(240, 2%, 53%);
    --metal-dark5: hsl(0, 0%, 7%);

    
    /* ASH 1 */
    --ash1-darka: hsl(204, 21%, 15%);
    --ash1-darkb: hsl(204, 18%, 27%);
    --ash1-gray: hsl(204, 16%, 45%);
    --ash1-lgray: hsl(204, 26%, 60%);

    /* GRAYS */
    --gray_1--: hsl(0, 0%, 50%);
    --color-jk-dark: hsl(204, 19%, 15%);
    --color-jk-dgray: hsl(210, 100%, 99%);


     /* SIGNS */
    --color-danger-a: hsl(355, 100%, 70%);
    --color-danger-b: hsl(355, 70%, 80%);
    --color-danger-c:hsl(353, 40%, 90%);
    --color-warning: hsl(35, 80%, 70%);
    --color-success-a: hsl(125, 85%, 60%);
    --color-success-b: hsl(160,60%, 70%);
    --color-success-c:hsl(150, 80%, 80%);
 


    /* DARK */
    --dark-variant: hsl(220, 7%, 19%);
    --dark-variantb: hsl(0, 78%, 2%);
    --color-dark-blue: hsl(210, 29%, 15%);

    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);
    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;
    --fns-up-8-96:8.96rem;
    --fns-deafult-up-11-08:11.08rem;


    /* margin */
    --szd-0-6:0.618rem;
    --sz-0-8:0.8rem;
    --szd-1:1rem;
    --sz-1-3:1.3rem;
    --szd-1-6:1.618rem;
    --sz-2-1:2.1rem;
    --szd-2-6:2.617rem;
    --szd-4-2:4.23rem;
    --szd-6-8:6.84rem;
    --sz-8-96:8.96rem;
    --szd-11-08:11.08rem;

}


@font-face {
  font-family: "Monument Text";
  src: url("./assets/Fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/Fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Fonts/Inter_18pt-Regular.ttf");
}




*{

  font-family: "Inter";
  margin: 0;
  padding: 0;
  color: var(--main-white);
}

body{
  margin: 0;
  padding: 0;

}
img{
  @apply cursor-pointer;
}

a{
  cursor: pointer;
  text-decoration: none;
}


p{
  text-align:start;
  font-size: clamp(1rem, 8vw, 1rem); 
}
svg{
  @apply flex items-center justify-center;
}

.center{
  @apply flex items-center justify-center;
}
.column{
  @apply flex flex-col items-center justify-center;
}
.column-start{
  @apply flex flex-col items-start justify-start;
}
.sections{
  @apply grid grid-cols-[1.5fr_7fr_1.5fr] grid-rows-[1fr_8fr_1fr];
}


svg{
  fill: var(--metal-dark2);
  width: 1.1rem;
  height: 1.1rem;
}

svg:hover {
    transition: 0.5s ease;
    fill: var(--main-white--);
}   
body::-webkit-scrollbar{
  background-color: var(--metal-dark5);
}
body::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background-color: var(--metal-dark2);
  border-left:4px solid var(--metal-dark5);
  border-right:4px solid var(--metal-dark5);
}
.box-header{
  background:linear-gradient(to right,var(--metal-dark4),rgb(192, 191, 191),gray);
}

.hook-txt{
      font-family:"Monument Text";
      background: linear-gradient(90deg, white, white,var(--white-blple));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: 0px -2px 10px var(--main-white);
}
.hook-txt-1 {
    font-size: var(--fns-default-up4-2);
}
.monu-txt{
  font-family:"Monument Text";
}
