@tailwind base;
@tailwind components;
@tailwind utilities;


:root{

    --main-white--: hsl(258, 44%, 93%);
    --white-blple--: hsl(221, 32%, 77%);
    --purpluish--: hsl(225, 25%, 65%);
    --bluis--: hsl(220, 74%, 62%);
    --mainblue--: hsl(225, 46%, 44%);
    --gainsbro: hsl(0, 0%, 96%);
    --blue-white: hsl(195, 44%, 86%);


      /* [PL3]MOON PHASE */
    --moon-phases-a: hsl(204, 19%, 15%);
    --moon-phases-b: hsl(210, 19%, 22%);
    --moon-phases-c: hsl(197, 65%, 24%);
    --moon-phases-d: hsl(192, 11%, 52%);
    --moon-phases-e: hsl(120, 13%, 85%);
    
    /* DARK MODE PALLETE */
    --metal-dark1: hsl(0, 2%, 14%);
    --metal-dark2: hsl(0, 1%, 25%);
    --metal-dark3: hsl(0, 0%, 13%);
    --metal-dark4: hsl(240, 2%, 53%);
    --metal-dark5: hsl(0, 0%, 7%);

    /* GRAYS */
    --gray_1--: hsl(0, 0%, 50%);
    --color-jk-dark: hsl(204, 19%, 15%);
    --color-jk-dgray: hsl(210, 100%, 99%);


     /* SIGNS */
    --color-danger-a: hsl(355, 100%, 70%);
    --color-danger-b: hsl(355, 70%, 80%);
    --color-danger-c:hsl(353, 40%, 90%);
    --color-warning: hsl(35, 80%, 70%);
    --color-success-a: hsl(125, 85%, 60%);
    --color-success-b: hsl(160,60%, 70%);
    --color-success-c:hsl(150, 80%, 80%);
 


    /* DARK */
    --dark-variant: hsl(220, 7%, 19%);
    --dark-variantb: hsl(0, 0%, 21%);
    --color-dark-blue: hsl(210, 29%, 15%);

    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);
    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;
    --fns-up-8-96:8.96rem;
    --fns-deafult-up-11-08:11.08rem;


    /* margin */
    --szd-0-6:0.618rem;
    --sz-0-8:0.8rem;
    --szd-1:1rem;
    --sz-1-3:1.3rem;
    --szd-1-6:1.618rem;
    --sz-2-1:2.1rem;
    --szd-2-6:2.617rem;
    --szd-4-2:4.23rem;
    --szd-6-8:6.84rem;
    --sz-8-96:8.96rem;
    --szd-11-08:11.08rem;

}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Monument Text";
  src: url("./assets/Fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/Fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("./assets/Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Parkisans";
  src: url("./assets//Fonts/Parkinsans-Regular.ttf");
}


*{

  font-family: "Parkisans";
  margin: 0;
  padding: 0;
  color: var(--main-white--);
}

body{
  margin: 0;
  padding: 0;

}
img{
  cursor: pointer;
}

a{
  cursor: pointer;
  text-decoration: none;
}

p{
  text-align:start;
  font-size: clamp(1rem, 8vw, 1rem); 
}

span{
  text-align: start;
    font-size: clamp(5rem, 8vw, 9rem); 
}



svg{
  fill: var(--metal-dark2);
  width: 1.1rem;
  height: 1.1rem;
}

svg:hover {
    transition: 0.5s ease;
    fill: var(--main-white--);
}   
body::-webkit-scrollbar{
  background-color: var(--metal-dark5);
}
body::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background-color: var(--metal-dark2);
  border-left:4px solid var(--metal-dark5);
  border-right:4px solid var(--metal-dark5);
}




.wrapper{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows:
  100vh      /*Hero*/
  100vh     /*Skills And Technology*/
  340vh     /*Projects Label*/ 
;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.sections{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--metal-dark5);
    height: 100vh;
    scroll-snap-align: start;
}

.hero{
  display: grid;
  grid-template-rows: 0.5fr 9.5fr;
  grid-template-columns: 1.5fr 7fr 1.5fr;
}   


.box{
  outline: 5px solid var(--metal-dark1);
  border-radius: 10px;
  box-shadow: 0px 10px 10px 1px var(--shad-dark);
}






  /* SKILLS & TECHNOLOGIES  ===== =====  ===== ===== ===== ===== ===== ===== ===== ===== */                  
  .skills_tech {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    grid-area: 2 / 1 / 3 / 2;
    height: 100%; 
    width: 100%;
}
    





                    


  /* PROJECTS WRAPPER ===== =====  ===== ===== ===== ===== ===== ===== ===== ===== */ 
  .projects{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100vh 120vh 120vh;
      grid-area:  3/ 1 /5/3 ;
      height: 100%;
      width:100%;
  }    







  /* WRAPPER RESPONSIVE  */
@media screen and (max-width:1000px) {

  .hero{
      grid-template-columns: 0.5fr 9fr 0.5fr;     
    }
    .skills_tech {
      grid-template-columns: 0.5fr 9fr 0.5fr;
    }
    .projects_box.moving_text_intro_frame{
        grid-template-columns: 0.5fr 9fr 0.5fr;
    }
      .projects_box.projects_main_wrapper{
        grid-template-columns: 0.5fr 9fr 0.5fr;
    }



} 


  