
    .bd.bd_skill_tech{
       position: relative;
        overflow: hidden;   
        box-shadow: none; 
        height: 70%;
        width: 100%;
        border-radius: 10px;
        grid-area: 1/ 2 / 1 /3;
        margin: 0rem 1rem;
    } 
       





       .shapes.st_triangle_c {
            position: absolute;
            top: 50%; 
            left: 50%; 
            width: 0;
            height: 0;
            border-left: 400px solid transparent;
            border-right: 400px solid transparent;
            border-top: 450px solid var(--color-dark-blue);
            transform: translate(-50%, -50%); 
            filter: blur(80px);
            opacity: 0;
          
            transition: opacity 1s ease-in, transform 1s ease-in;
    }

        .st_triangle_c.show {
            opacity: 1;
            transform: translate(-50%,-50% ); 
        }

            

        
    .skills_tech_contents_frame{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        grid-area: 1/ 2 / 1 /3;
        overflow: hidden;   
        height: 80%;
        width: 100%;
        border: 5px solid var(--metal-dark1);  
        box-shadow: 0px 10px 10px 1px var(--shad-dark);           
        background: transparent;
        backdrop-filter: blur(80px);
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 1s ease-in, transform 1s ease-in;
    }     

        .skills_tech_contents_frame.show {
            opacity: 1;
            transform: translateY(0);             
        }


    

        .skills_tech_contents_frame .st_part.header{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 20%;
          }   

            .st_part{
                width: 100%;
            }
            .header_part{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                height: 100%;
            }     
            .header_part.left .st_circ_div{
                display: flex;
                margin: 0rem 1rem;
            }
               .st_circ_div .circ{
                  width: 1rem;
                  height: 1rem;        
                  border-radius: 50%;    
                  margin: 0rem 0.3rem;
              } 
                .st_circ_div .circ#a{
                    background-color: var(--metal-dark4);
                }
                .st_circ_div .circ#b{
                    background-color: var(--metal-dark3);
                }
                .st_circ_div .circ#c{
                  background-color: var(--metal-dark2);
                }
                
                  .st_circ_div .circ.show#a{
                     transition: 2s;
                     background-color: var(--color-danger-b);
                 }
                .st_circ_div .circ.show#b{
                    transition: 3s;
                    background-color: var(--color-warning);
                    }
                .st_circ_div .circ.show#c{
                    transition: 5s;
                    background-color: var(--color-success-a);
                }


                

    
            .header_part p{
                text-align: start;
                font-size: clamp(1.6rem, 4vw, var(--fns-default-up2-6));
                font-family: "Monument Text";
          
                background: linear-gradient(to top, var(--white-blple--),var(--white-blple--), whitesmoke,white);
                -webkit-background-clip: text; 
                background-clip: text;                
                text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
            }
            

                .header_part.middle p:nth-child(2){
                    margin: 0rem 1rem;           
                }   
                




                
                .st_part.content_grid_frame{
                    display: grid;
                    grid-template-rows: 2fr 1fr;
                    grid-template-columns: 3fr 4fr 3fr;
                    gap: 1rem;
                    height: 80%;
                    border-radius: 8px;   
                    background-color: transparent;
                }   

                    .content_grid_frame .bento_stack{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;  
                        flex-direction: column;                       
                        box-shadow: 1px 10px 10px 1px var(--shad-dark);
                        border-radius: 8px;            
                        overflow: hidden;                                       
                    }



                    /* Front End */
                    .bs_headers{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        grid-area: 1/1/1/1;
                        width: 100%;
                        padding: 0.2rem 0rem;
                        background-color: var(--metal-dark1);           
                    }
                     .bs_content{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                       
                          }

                        .bento_stack.front_end{                       
                            grid-area: 1/1/3/1;             
                        } 

                         
                          .tech_box{
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            padding: 0rem 0.2rem;
                            width: 80%;
                            height: 20%;
                            border-radius: 10px;
                            
                          } 
                            .tech_box svg{          
                                padding: 0.5rem;
                                border-radius: 8px;
                                background-color: var(--metal-dark3);                         
                                width: 2rem;
                                height: 2rem;   
                                fill: var(--metal-dark4);
                                box-shadow: 2px 2px 2px 1px var(--shad-dark-d);
                            }
                            .tech_box img{
                                padding: 0.5rem;
                                border-radius: 8px;
                                background-color: var(--metal-dark3);
                                width: 2rem;
                                height: 2rem;
                                box-shadow: 2px 2px 2px 1px var(--shad-dark-d);
                            }

                              .tech_box #wamp_img{
                                 transform: rotate(90deg);
                                box-shadow: 2px -2px 2px 1px var(--shad-dark-d);
                            }

                                .tech_box p{
                                  font-size: var(--fns-down-1);
                                  margin: 0rem 1rem 0rem 1rem;
                                }
                                

                            

                            

                                                
                        .bento_stack.back_end{            
                            grid-area: 1 /2 / 1 /2;
                        }

                        
             
                        .bento_stack.tools{
                            grid-area: 1/ 3/1 /3;
                        }
                        .bento_stack.version_control{
                       
                            grid-area: 2/ 2/2 /4;                                            
                        }   
                          .version_control .version_control_div{
                            display: flex;            
                            flex-direction: row;         
                          }     
                              .version_control_div .tech_box{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                               height: 100%;
                            
                              }
                            
                              .tech_box svg{
                                 box-shadow: 2px 2px 2px 1px var(--shad-dark-d);
                              }
                            




